.dropdown:hover .dropdown-menu {
    display: block;
}

.notification-dropdown-menu {
    display: none;
}

.notification-dropdown:hover .notification-dropdown-menu {
    display: block;
}

/* Alpine.js-ის დამალვა სანამ ინიციალიზდება */
[x-cloak] { display: none !important; }
